version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: calc-postgres
    restart: always
    environment:
      POSTGRES_DB: calc_db
      POSTGRES_USER: calc_use
      POSTGRES_PASSWORD: calc_pass
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  pgadmin:
    image: dpage/pgadmin4
    container_name: calc-pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    ports:
      - "5050:80"
    depends_on:
      - postgres

volumes:
  postgres_data: